@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --grey-font-color: #737373;
    --white-background-color: white;
    --white-grey-color: #f7f7f7;
    --black-font-color: black;
    --footer-color: #111111;
    --color-h1: #111111;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: lexend;
}

/*HEADER CONFIGURATION*/

header {
    background-color: var(--white-background-color);
    padding: 0 40px;
    height: 115px;
}

/*HEADER FIRST BAR CONFIGURATIONS*/

header .first,
header .first nav ul {
    display: flex;
}

header .first-nav {
    display: flex;
    gap: 2.5rem;
}

header .first nav ul {
    align-items: center;
    justify-content: center;
}

header .first nav ul hr {
    width: 1px;
    height: 12px;
    margin: 0 16px;
    background-color: black;
}

header .first nav ul .first-bar-options {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: var(--grey-font-color);
}

header .first {
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

header .first .first-img {
    display: flex;
    align-items: center;
    gap: 24px;
}

header .first .first-img .air {
    width: 19px;
    height: 18px;
}

header .first .first-img .snk {
    width: 46px;
    height: 15px;
}


/*HEADER SECOUND BAR CONFIGURATIONS*/

header .secound_main {
    height: 76px;
}

header .secound_main,
header .secound_main nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .secound_main img {
    width: 64px;
    height: 23px;
}

header .secound_main nav {
    padding-left: 10%;
}

header .secound_main nav ul a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--black-font-color);
    padding: 24px 16px;
}

header .secound_main .search-box {
    display: flex;
    gap: 24px;
    align-items: center;
}

header .secound_main .search form {
    display: flex;
    position: relative;
}

header .secound_main .search button {
    position: absolute;
    top: 5px;
    left: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
}

header .secound_main .search input {
    display: flex;
    padding: 0px 20px 0px 50px;
    height: 40px;
    border: none;
    background: rgb(247, 247, 247);
    border-radius: 30px;
    outline: none;
}

header .secound_main .search input:hover {
    background-color: #c5c5c56c;
}

header .secound_main .search input:focus {
    border: 1px solid rgba(0, 136, 255, 1);
    box-shadow: 0px 0px 0px 3px rgba(0, 136, 255, 0.452);
}

header .secound_main .search-box .fav,
.cart {
    font-size: 20px;
    color: black;
}

/* Hamburger */

.mobile-menu div {
    width: 27px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition: .4s;
    border-radius: 30%;
    display: none;
}

/* Main */

main .release1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 200px;
}

main .release1 h1 {
    font-size: 24px;
    padding: 15px 0;
    font-family: Lexend;
    color: var(--color-h1);
}

main .release1 img {
    width: 100%;
    border-radius: 10px;
}

main .release1 .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    font-family: Lexend;
}

main .release1 .description h1 {
    font-family: Righteous;
    font-size: 42px;
    color: var(--color-h1);
}

main .release1 .description h2 {
    font-weight: 300;
}

main .release1 .options {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

main .release1 .options a {
    color: white;
    padding: 8px 30px;
    background-color: black;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}

main .release1 .options a:hover {
    background-color: rgba(0, 0, 0, 0.74);
}

/* Relese2 */

main .release2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 200px;
}

main .release2 h1 {
    font-size: 24px;
    padding: 15px 0;
    font-family: Lexend;
    color: var(--color-h1);
}

main .release2 img {
    width: 100%;
    border-radius: 10px;
}

main .release2 .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    font-family: Lexend;
}

main .release2 .description h1 {
    font-family: Righteous;
    font-size: 42px;
    color: var(--color-h1);
}

main .release2 .description h2 {
    font-weight: 300;
}

main .release2 .options {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

main .release2 .options a {
    color: white;
    padding: 8px 30px;
    background-color: black;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}

main .release2 .options a:hover {
    background-color: rgba(0, 0, 0, 0.74);
}


/* offers */
main .offers {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 200px;
}

.offers .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    padding-top: 50px;
}

.card {
    width: 300px;
    justify-content: center;
    padding: 15px;
    background-color: rgba(165, 165, 165, 0.377);
    border-radius: 15px;
    box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin: 0 auto;
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card .texts-products {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    text-align: center;
}

.card .texts-products h2 {
    font-weight: 400;
    font-size: 18px;
    font-weight: bold;
}

/* Gallery */

main .gallery {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 200px;
}

main .gallery .slider{
    width: 100%;
    margin-top: 40px;
}


/* Footer */
footer {
    background-color: var(--footer-color);
    padding: 30px 80px;
}

footer .footer-top-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
footer .footer-top-container i{
    display: none;
}
footer .footer-top-container ul{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}
footer .footer-top-container h2, h1{
    color: var(--white-grey-color);
    font-weight: 300;
    font-size: 20px;
}
footer .footer-top-container .outers-links a{
    color: var(--white-grey-color);
    font-weight: 300;
    font-size: 12px;
}
footer .footer-top-container .outers-links a:hover{
    text-decoration: underline;
}
footer .footer-top-container .container-one ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .footer-top-container .outers-links-one a{
    color: var(--white-grey-color);
    font-weight: 300;
    font-size: 15px;
}
footer .footer-top-container .logos-social-medias{
    padding: 25px 0 25px;
}
footer .footer-top-container .logos-social-medias svg{
    width: 35px;
    color:  var(--grey-font-color);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
footer .footer-top-container .logos-social-medias svg:hover{
    color: var(--white-grey-color);
}
footer .footer-top-container .payment-method-flags{
    display: flex;
    gap: 10px;
    padding-top: 20px;
    flex-wrap: wrap;
}
footer .footer-top-container .payment-method-flags .pag{
    width: 2.5rem;
    height: 2rem;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(224, 224, 224) 100%);
    border-radius: 2px;
    display: grid;
    place-content: center;
}

footer .footer-bottom-container{
    display: flex;
    color: var(--white-grey-color);
    padding-top: 3rem;
    font-size: 12px;
    font-weight: 200;
    justify-content: space-between;
}

footer .footer-bottom-container .texts1{
    display: flex;
    gap: 2rem;
    font-weight: 300;
}
footer .footer-bottom-container .texts1 p:hover{
    color: #cacaca;
    cursor: pointer;
}

footer .footer-bottom-container .texts2{
    text-align: end;
}